# Compiled output
/dist
/tmp
/out-tsc
/build

# Dependencies
/node_modules

# Angular files
.angular

# Angular CLI
.angular-cli.json

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.tmp
*.temp
*.bak
*.old
*.orig
*.rej